<div class="sidebar-widgets-wrap">
  <div class="widget clearfix">
    <h4><%= t "home.favor_tag" %></h4>
    <div class="tagcloud">
      <%= link_to "Videos", "#" %>
      <%= link_to "Games", "#" %>
      <%= link_to "Manga", "#" %>
      <%= link_to "Anime", "#" %>
    </div>
  </div>
  <div class="widget clearfix">
    <h4><%= t "home.tag_cloud" %></h4>
    <div class="tagcloud">
      <%= link_to "Videos", "#" %>
      <%= link_to "Games", "#" %>
      <%= link_to "Manga", "#" %>
      <%= link_to "Anime", "#" %>
      <%= link_to "Videos", "#" %>
      <%= link_to "Games", "#" %>
      <%= link_to "Manga", "#" %>
      <%= link_to "Anime", "#" %>
      <%= link_to "Videos", "#" %>
      <%= link_to "Games", "#" %>
      <%= link_to "Manga", "#" %>
      <%= link_to "Anime", "#" %>
    </div>
  </div>
</div>
