<%= form_for :session, url: login_path do |f| %>
  <div class="col_full">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="col_full">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.label :remember_me, class: "radio-small" do %>
    <%= f.check_box :remember_me, class: "radio-style", type: "radio" %>
    <%= t "remember_me" %>
  <% end %>
  <br>
  <%= link_to t("users.register_form.register_now"), signup_path %>
  <%= link_to t(".forgot_pass"), new_password_reset_path, class: "fright" %>
  <div class="col_full nobottommargin">
    <%= f.submit t(".login_now"), class: "button button-3d button-black nomargin" %>
  </div>
<% end %>
