<%= form_for @user do |f| %>
  <%= render "shared/error_messages" %>
  <div class="col_full">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col_full">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", readonly: true %>
  </div>

  <div class="col_full">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control", rows: 6 %>
  </div>

  <div class="col_full">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="col_full">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit t("application.update"), class: "button button-3d button-black nomargin" %>
<% end %>
