<div class="col-lg-6 bottommargin user-index">
  <div class="team team-list clearfix index">
    <div class="user-image">
      <%= image_tag user.avatar, alt: "avatar.jpg",
        class: "img-circle img-thumbnail notopmargin nobottommargin profile-pic" %>
    </div>
    <div class="team-desc">
      <div class="team-title">
        <h4> <%= link_to user.name, user %></h4>
      </div>
      <div class="team-content">
        <div class="index-info">
          <h5>Post: <%= user.posts.count %></h5>
          <h5>Point: <%= user.point %></h5>
        </div>
        <%= render "follow_form", user: user %>
      </div>
    </div>
  </div>
</div>
