<% provide :title, t("application.profile") %>
<% provide :name, t("application.profile") %>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-md-9">
          <div class="heading-block noborder">
            <h3><%= @user.name %></h3>
          </div>
          <div class="clear"></div>
          <div class="row clearfix">
            <div class="col-lg-12">
              <div class="tabs tabs-alt clearfix" id="tabs-profile">

                <ul class="tab-nav clearfix">
                  <li>
                    <%= link_to "#tab-feeds" do %>
                      <i class="icon-rss2"></i>
                      <%= t ".feed" %>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to "#tab-posts" do %>
                      <i class="icon-pencil2"></i>
                      <%= t ".post" %>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to "#tab-replies" do %>
                      <i class="icon-reply"></i>
                      <%= t ".reply" %>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to "#tab-connections" do %>
                      <i class="icon-users"></i>
                      <%= t ".connection" %>
                    <% end %>
                  </li>
                </ul>

                <div class="tab-container">
                  <div class="tab-content clearfix" id="tab-feeds">
                    asdasdasdasd
                  </div>

                  <div class="tab-content clearfix" id="tab-posts">
                    asdasdasd
                  </div>

                  <div class="tab-content clearfix" id="tab-replies">
                    asdasdasd
                  </div>

                  <div class="tab-content clearfix" id="tab-connections">
                    asdassadas
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 line d-block d-md-none"></div>

        <div class="col-md-3 clearfix">
          <div class="list-group">
            <%= link_to "#", class: "list-group-item list-group-item-action clearfix" do %>
              <%= t "application.profile" %>
              <i class="icon-user float-right"></i>
            <% end %>

            <%= link_to "#", class: "list-group-item list-group-item-action clearfix" do %>
              <%= t "application.message" %>
              <i class="icon-mail float-right"></i>
            <% end %>

            <%= link_to edit_user_path(current_user), class: "list-group-item list-group-item-action clearfix" do %>
              <%= t "application.setting" %>
              <i class="icon-cog float-right"></i>
            <% end %>

            <%= link_to logout_path, method: :delete, class: "list-group-item list-group-item-action clearfix" do %>
              <%= t "application.logout" %>
              <i class="icon-line2-logout float-right"></i>
            <% end %>
          </div>

          <div class="fancy-title topmargin title-border">
            <h4> <%= t "activerecord.models.user.bio" %></h4>
          </div>
          <p><%= @user.bio %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="gotoTop" class="icon-angle-up"></div>
