<nav class = "fixed-top">
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <div id="logo">
          <%= link_to "index.html", class: "standard-logo" do %>
            <%= image_tag "logo.png", alt: "Canvas Logo" %>
          <% end %>
        </div>
        <nav id="primary-menu">
          <ul>
            <li>
              <%= link_to "index.html" do %>
                <div></div>
              <% end %>
            </li>
          </ul>
          <ul>
            <li>
              <%= link_to "#" do %>
                <div></div>
              <% end %>
            </li>
          </ul>
          <ul>
            <li>
              <%= link_to "#" do %>
                <div></div>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</nav>
