<div class="modal fade upload" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= t "application.upload" %></h4>
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_for post do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <div class="field">
              <%= f.text_area :title, placeholder: t(".compose_new_post"),
                class: "form-control" %>
            </div>
            <span>
              <%= f.radio_button :upload_type, "picture" %> <%= t "upload.picture" %>
            </span>
            <span>
              <%= f.radio_button :upload_type, "video" %> <%= t "upload.video" %>
              <br/>
            </span>
            <span class="pic-form hide">
              <%= f.file_field :picture %>
            </span>
            <span class="vid-form hide">
              <%= f.file_field :video, id: "video_here" %>
            </span><br/>
            <%= f.submit t(".post"), class: "btn btn-primary up" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
